language: python
python:
- '2.6'
- '2.7'
- '3.5'
install:
- pip install -r requirements.txt
- pip install coveralls
script: 
  nosetests --with-doctest --with-coverage --cover-package=secsgem
after_success:
  coveralls
deploy:
  provider: pypi
  user: bparzella
  password:
    secure: VblqvR76D5pn2d0IobS7gwdHFPIOmRsEKnXBNzvtBlg6zRm9Kx7fzSzG2dnncHyOWoWQ1v8uGR6o3orEKUYgpSeWdkD2LvG5sXPH2q86ns61tyVhfwiFge0jd3ybkBjNGLHFQgPrBB+vTIINDqCiwepswm+0SU06nY8vIqtnL40=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: bparzella/secsgem
