#####################################################################
# {{ data.file_name }}
#
# (c) Copyright 2021, Benjamin Parzella. All rights reserved.
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# This software is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#####################################################################
"""Class for stream {{ "{:02}".format(data.stream) }} function {{ "{:02}".format(data.function) }}."""

from secsgem.secs.functions.base import SecsStreamFunction
{% for data_item in data.data_items %}
from secsgem.secs.data_items import {{ data_item.name }}
{% endfor %}


class Secs{{ data.name }}(SecsStreamFunction):
    """
    {{ data.description }}.

{% if data.extra_help|length > 0 %}
{{ data.extra_help | indent(4, True) }}

{% endif %}
    {% if data.data_items|length > 0 %}
    **Data Items**

    {% for data_item in data.data_items %}
    - :class:`{{ data_item.name }} <secsgem.secs.data_items.{{ data_item.name }}>`
    {% endfor %}

    {% endif %}
    **Structure**::

        >>> import secsgem.secs
        >>> secsgem.secs.functions.Secs{{ data.name }}
{{ data.data_structure_text | indent(8, True) }}

    Example:

        >>> import secsgem.secs
        {% for sample in data.samples %}
        >>> secsgem.secs.functions.Secs{{ data.name }}({{ sample.data | py_indent(8) }}){{ sample.comment }}
        S{{ data.stream }}F{{ data.function }}{{ " W" if data.is_reply_required }}
    {%- if data.data_items|length > 0 %}

{{ sample.text | indent(8, True) -}}
    {% endif %} .
        {% endfor %}

    {% if data.data_items|length > 0 %}
    :param value: parameters for this function (see example)
    :type value: {{ data.preferred_type.__name__ }}
    {% else %}
    :param value: function has no parameters
    :type value: None
    {% endif %}
    """

    _stream = {{ data.stream }}
    _function = {{ data.function }}

    _data_format = {{ data.structure | indent(4) }}

    _to_host = {{ data.to_host }}
    _to_equipment = {{ data.to_equipment }}

    _has_reply = {{ data.has_reply }}
    _is_reply_required = {{ data.is_reply_required }}

    _is_multi_block = {{ data.is_multi_block }}

